---
import Layout from "@/layouts/Layout.astro";
import Navbar from "@/components/Navbar.astro";
import Hero from "@/components/Hero.astro";
import About from "@/components/About.astro";
import HowItWorks from "@/components/HowItWorks.astro";
import Volumes from "@/components/Volumes.astro";
import Gallery from "@/components/Gallery.astro";
import Pricing from "@/components/Pricing.astro";
import Waitlist from "@/components/Waitlist.astro";
import Footer from "@/components/Footer.astro";
---

<Layout title="Palm & Plate">
  <Navbar />
  <main>
    <Hero />
    <About />
    <HowItWorks />
    <Volumes />
    <Gallery />
    <Pricing />
    <Waitlist />
  </main>
  <Footer />
</Layout>
